<%= form_with(model: tour, local: true, :class => "form-horizontal") do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, :class => "col-sm-1 control-label" %>
    <div class="col-sm-6">
      <%= form.text_field :title, id: :tour_title, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :body, :class => "col-sm-1 control-label"  %>
    <div class="col-sm-6">
      <%= form.text_area :body, id: :tour_body, rows: 3, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :tag_list, 'Tags (separated by commas)', :class => "col-sm-1 control-label" %><br/>
    <div class="col-sm-6">
      <%= form.text_field :tag_list, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
