<h1>Tours</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr class="info">
      <th>Title</th>
      <th>Body</th>
      <th>Tags</th>
      <th></th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.title %></td>
        <td><%= tour.body %></td>
          <% tour.tag_list.each do |t| %> 
            <td><span class="label label-info"><%= link_to t, tag_path(t) %> </span></td>
          <% end %>
        <td><%= link_to 'Show', tour, :class => "btn btn-primary btn-xs" %></td>
          <% if current_user == tour.user %>
            <td><%= link_to 'Edit', edit_tour_path(tour), :class => "btn btn-warning btn-xs" %></td>
            <td><%= link_to 'Destroy', tour, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Tour', new_tour_path, :class => "btn btn-primary" %>