<div class="show-title">
	<h1>
	  <%= @tour.title %>
	</h1>
	<% @tour.tag_list.each do |tag| %>
		<span class="label label-info"><%= link_to tag, tag_path(tag) %></span>
	<% end %>
	<br>
</div>

<hr>
<div class="title-img-wrapper">
  <%= image_tag @tour.title_img.url(:banner), :class => "title-img"  %>
</div>

<hr>
<div class="row summary-wrapper">
	<div class="col-sm-10">
		<%= sanitize(@tour.summary).html_safe %>
	</div>
	<div class="col-sm-2 summary-right-side">
		<p>Location: <%= @tour.city %></p>
		<p>Est time: <%= @tour.est_time %> hours</p>
	</div>
</div>
<hr>

<div class="editable">
	<%= sanitize(@tour.body).html_safe %>
</div>
<button id="save" class="btn btn-info">Save</button>
<hr>

<%= link_to 'Back', tours_path, :class => "btn btn-primary"  %>
<% if current_user == @tour.user %>
  | <%= link_to 'Destroy', @tour, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Edit', edit_tour_path(@tour), :class => "btn btn-warning" %>
<% end %>

<hr>

<div class="row">
	<div class="col-sm-6">
		<div class="profile-info">
			
			<div class="profile-info-image">
				<div class="circle-wrapper">
					<%= image_tag @tour.user.avatar.url(:thumb), :class => "circle" %>
				</div>
				<p> <%= @tour.user.first_name %> <%= @tour.user.last_name %> </p>
				<p> <%= @tour.user.tours.count %> tours </p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<p> Details: <%= rating_for @tour, 'details', star: 10, enable_half: true, half_show: true %> </p>
		<p> Coolness: <%= rating_for @tour, 'coolness', star: 10, enable_half: true, half_show: true %> </p>
	</div>
</div>

<hr>

<%= render 'reviews/form' %>

<div class="list-group col-sm-10" >
	<div class="list-group-item active"><h3>Reviews:</h3></div>
		<% @tour.reviews.each do |review| %>
		    <a class="list-group-item">
		    	<%= review.content %>  <strong><%= review.user.try(:email)%></strong> 
		    </a>
	    	<% if user_signed_in? && current_user == review.user %>
		    	<div class="panel-footer">
		    		<%= link_to 'Delete', tour_review_path(review.tour, review), :class => "btn btn-danger btn-xs inline", method: :delete, data: { confirm: 'Are you sure?' } %>
	    		</div>
		    <% end %>	
		<% end %>
	</div>
</div>
