<div class="show-title">
	<h1>
	  <%= @tour.title %>
	</h1>
	<% @tour.tag_list.each do |tag| %>
		<span class="label label-info"><%= link_to tag, tag_path(tag) %></span>
	<% end %>
	<br>
</div>

<hr>
<div class="title-img-wrapper">
  <%= image_tag @tour.title_img.url(:banner), :class => "title-img"  %>
</div>

<hr>
<div class="row summary-wrapper">
	<div class="col-sm-10">
		<%= sanitize(@tour.summary).html_safe %>
	</div>
	<div class="col-sm-2 summary-right-side">
		<p>Location: <%= @tour.city %> </p>
		<p>Est time: <%= @tour.est_time %> hours</p>
	</div>
</div>
<hr>

<% if current_user == @tour.user %>
	<div class="editable">
		<%= sanitize(@tour.body).html_safe %>
	</div>
	<button id="save" class="btn btn-info">Save</button>
	<hr>
<% else %>
	<%= sanitize(@tour.body).html_safe %>
<% end %>

<div class="row col-sm-12">
	<% if current_user == @tour.user %>
	<div class="col-sm-6">
		<p>Add a marker:</p>
		<hr>
		<%= render 'markers/form' %>
	</div>
		<div class="col-sm-6">
			<p>Existing markers:</p>
			<hr>
			<% @tour.markers.each do |marker| %>
				<strong> Marker name: </strong><%= marker.name %>
				<br>
				<strong> Marker address: </strong><%= marker.address %>
				<%= link_to 'Delete', tour_marker_path(@tour, marker), :class => "btn btn-danger btn-xs inline", method: :delete, data: { confirm: 'Are you sure?' } %>
				<hr>
			<% end %>
		</div>
	<% end %>
</div>


<!-- Google Maps code. -->
<div id="map"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: city_location,
      zoom: 12
    });
  

      // Create an array of alphabetical characters used to label the markers.
    var labels = 'X';

    var infowindow = new google.maps.InfoWindow();

    // Add some markers to the map.
    // Note: The code uses the JavaScript Array.prototype.map() method to create an array of markers based on a given "locations" array. The map() method here has nothing to do with the Google Maps API.
    var markers = locations.map(function (location, i) {
      marker = new google.maps.Marker({
        position: location,
        label: labels[i % labels.length]
      });
      google.maps.event.addListener(marker, 'click', function() {
       infowindow.setContent('<p class="map-p"><strong>' + location.name + '</strong></p><p class="map-p">' + location.address + '</p>');
       infowindow.open(map, this);
     });
      return marker
    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers, {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }

  var city_location = {
  	lat: <%= @tour.latitude %>,
  	lng: <%= @tour.longitude %>
  }

  var locations = [
    <% @tour.markers.each do |marker| %>
    {
      lat: <%= marker.latitude %>,
      lng: <%= marker.longitude %>,
      name: '<%= marker.name %>',
      address: '<%= marker.address %>'
    },
    <% end %>
  ]
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV.fetch('GMAP_API') %>&callback=initMap"
async defer></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

<hr>
<%= link_to 'Back', tours_path, :class => "btn btn-primary"  %>
<% if current_user == @tour.user %>
  | <%= link_to 'Destroy', @tour, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %> | <%= link_to 'Edit', edit_tour_path(@tour), :class => "btn btn-warning" %>
<% end %>

<hr>

<div class="row">
	<div class="col-sm-6">
		<div class="profile-info">
			<div class="profile-info-image">
				<div class="circle-wrapper">
					<%= image_tag @tour.user.avatar.url(:thumb), :class => "circle" %>
				</div>
				<p><%= link_to "#{@tour.user.first_name} #{@tour.user.last_name}", profile_path(@tour.user)%></p>
				<p> <%= @tour.user.tours.count %> tours </p>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<p> Details: <%= rating_for @tour, 'details', star_path: '/images/ratyrate', star: 5, enable_half: true, half_show: true %> </p>
		<p> Coolness: <%= rating_for @tour, 'coolness', star_path: '/images/ratyrate', star: 5, enable_half: true, half_show: true %> </p>
	</div>
</div>

<hr>

<%= render 'reviews/form' %>

<div class="list-group col-sm-10" >
	<div class="list-group-item active"><h3>Reviews:</h3></div>
		<% @tour.reviews.each do |review| %>
		    <a class="list-group-item">
		    	<%= review.content %>  <strong> | <%= review.user.try(:email)%></strong> 
		    </a>
	    	<% if user_signed_in? && current_user == review.user %>
		    	<div class="panel-footer">
		    		<%= link_to 'Delete', tour_review_path(review.tour, review), :class => "btn btn-danger btn-xs inline", method: :delete, data: { confirm: 'Are you sure?' } %>
	    		</div>
		    <% end %>	
		<% end %>
	</div>
</div>
