<div class="col-sm-offset-1">
	<p>
	  <strong>Title:</strong>
	  <%= @tour.title %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= @tour.body %>
	</p>

	<%= link_to 'Edit', edit_tour_path(@tour), :class => "btn btn-warning" %> |
	<%= link_to 'Back', tours_path, :class => "btn btn-primary"  %>
        <% if current_user == @tour.user %>
          | <%= link_to 'Destroy', @tour, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
<br>
	Details  : <%= rating_for @tour, 'details', star: 10, enable_half: true, half_show: true %>
	Coolness  : <%= rating_for @tour, 'coolness', star: 10, enable_half: true, half_show: true %>

	<%= render 'reviews/form' %>

	<div class="list-group col-sm-8" >
		<div class="list-group-item active"><h3>Reviews:</h3></div>
			<% @tour.reviews.each do |review| %>
			    <a class="list-group-item">
			    	<%= review.content %> | <%= review.user.try(:email)%>
			    </a>
		    	<% if current_user == review.user %>
			    	<div class="panel-footer">
			    		<%= link_to 'Delete', tour_review_path(review.tour, review), :class => "btn btn-danger btn-xs inline", method: :delete, data: { confirm: 'Are you sure?' } %>
		    		</div>
			    <% end %>	
			<% end %>
		</div>
	</div>
</div>