<!DOCTYPE html>
<html>
  <head>
    <title>Localhst</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="col-sm-offset-1 col-sm-10 wrapper">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
              <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%ENV.fetch('GMAP_API') %>&callback=initMap"
    async defer></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  </body>
</html>
